
venv/Include/site/python3.8/pytorch
venv/Lib/site-packages/torch
venv/Lib/site-packages/caffe2
venv/Scripts/torchrun.exe
venv/Scripts/convert-onnx-to-caffe2.exe
venv/Scripts/convert-caffe2-to-onnx.exe
venv/Lib/site-packages/typing_extensions.py
venv/Lib/site-packages/__pycache__/typing_extensions.cpython-38.pyc
venv/Lib/site-packages/torch-1.10.0.dist-info/entry_points.txt
venv/Lib/site-packages/torch-1.10.0.dist-info/INSTALLER
venv/Lib/site-packages/torch-1.10.0.dist-info/LICENSE
venv/Lib/site-packages/torch-1.10.0.dist-info/METADATA
venv/Lib/site-packages/torch-1.10.0.dist-info/NOTICE
venv/Lib/site-packages/torch-1.10.0.dist-info/RECORD
venv/Lib/site-packages/torch-1.10.0.dist-info/REQUESTED
venv/Lib/site-packages/torch-1.10.0.dist-info/top_level.txt
venv/Lib/site-packages/torch-1.10.0.dist-info/WHEEL
venv/Lib/site-packages/typing_extensions-4.0.0.dist-info/INSTALLER
venv/Lib/site-packages/typing_extensions-4.0.0.dist-info/LICENSE
venv/Lib/site-packages/typing_extensions-4.0.0.dist-info/METADATA
venv/Lib/site-packages/typing_extensions-4.0.0.dist-info/RECORD
venv/Lib/site-packages/typing_extensions-4.0.0.dist-info/WHEEL
.idea/workspace.xml
.idea/workspace.xml
AI_pygame/__pycache__/game_session_class.cpython-38.pyc
